doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no')

		link(rel='stylesheet', href='http://js.arcgis.com/3.8/js/esri/css/esri.css')
		link(rel='stylesheet', href='assets/css/runnur.css')

		script(type="text/javascript").
			var dojoConfig = { 
				paths:{
					"app": location.pathname.replace(/\/[^/]+$/, '') + "assets/js",
					"knockout": "http://cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min"
				}
			};

		script(src='http://js.arcgis.com/3.8compact/')

		title Runnur
	body
		div(id='search')
		div(id='directions')
			h3 Directions
		div(id='options')
			h3 Options
			div
				input(type='text', id='txtDistance', data-bind="value: routeLength")
		div(id='map')
		script(src="assets/js/runnur.js")

