doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no')

		link(rel="stylesheet", href="http://js.arcgis.com/3.8/js/dojo/dijit/themes/claro/claro.css")
		link(rel='stylesheet', href='http://js.arcgis.com/3.8/js/esri/css/esri.css')
		link(rel='stylesheet', href='assets/css/runnur.css')

		script(type="text/javascript").
			var dojoConfig = { 
				paths:{
					"app": location.pathname.replace(/\/[^/]+$/, '') + "assets/js/modules",
					"knockout": "http://cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min"
				}
			};

		script(src='http://js.arcgis.com/3.8compact/')

		title Runnur
	body(class="claro")
		div(id='search')
		div(id='directions')
			h3 Directions
		div(id='options')
			div(data-dojo-type="dijit/layout/TabContainer")
				div(data-dojo-type="dijit/layout/ContentPane" title="Auto Route")
					p Create an automated route
					// ko foreach: routeTypes 
					input(type="radio" data-bind="value: routeName, checked: $root.routeType")
					span(data-bind="text: routeName")
					// /ko 
					input(type='text', data-bind="value: routeLength")
				div(data-dojo-type="dijit/layout/ContentPane" title="Define")
					p Draw a route
				div(data-dojo-type="dijit/layout/ContentPane" title="Upload")
					p Drag a gpx file here.
		div(id='map')
		script(src="assets/js/init.js")

